body header {
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(64, 104, 233);
    padding: 15px;
    
}

header ul li a {
    text-decoration: none;
    color: white;  
    
}

header ul li {
    list-style-type: none; 
}